{% extends 'base.html' %}

{% block conteudo %}

<h1>Operações Aritméticas</h1>
<!--Passo2:Verificar se possui mensagens eviado pelo app-->
<!--Passo3:definir with_categories=true caso quiera ter acesso as categorias-->
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<div class="flash-error px-3">
    <!--  Passo4: Percorrer a lista de mensagens  -->
    {% for category, message in messages %}
    <!--Passo5 Criar um card filho-->
    <div class="alert {{ category }} alert-dismissible fade show px-5" role="alert">
        <strong>{{ message }}</strong>.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
</div>
{% endif %}
{% endwith %}

<div class="calculos">

    <div class="card_operacao">
        <h2>Adição</h2>
        <form class="form-somar" action="{{ url_for('somar') }}" method="post">
            <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        <!--Como calcular-->
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <h4>Adição</h4>
                            <p>para somar é preciso de 2 ou mais numeros</p>
                        </div>
                    </div>
                </div>
            </div>
            <label>
                <input placeholder="Digite um número" name="form-n1">
            </label>

            <p class="operador">+</p>

            <label>
                <input placeholder="Digite um número" name="form-n2">
            </label>

            <p class="resultado">
                {% if soma is defined %}
                {{ n1 }} + {{ n2 }} = {{ soma }}
                {% else %}
                {% endif %}
            </p>

            <button type="submit">Somar</button>
        </form>

    </div>
    <div class="card_operacao">
        <h2>Subtração</h2>
        <form class="form-subtrair" action="{{ url_for('subtrair') }}" method="post">

            <label>
                <input placeholder="Digite um número" name="form-n1">
            </label>

            <p class="operador">-</p>

            <label>
                <input placeholder="Digite um número" name="form-n2">
            </label>

            <p class="resultado">
                {% if subtrair is defined %}
                {{ n1 }} - {{ n2 }} = {{ subtrair }}
                {% else %}
                {% endif %}
            </p>

            <button type="submit">subtrair</button>
        </form>

    </div>

    <div class="card_operacao">
        <h2>multiplicação</h2>
        <form class="form-multiplicar" action="{{ url_for('multiplicar') }}" method="post">
            <label>
                <input placeholder="Digite um número" name="form-n1">
            </label>

            <p class="operador">*</p>

            <label>
                <input placeholder="Digite um número" name="form-n2">
            </label>

            <p class="resultado">
                {% if multiplicar is defined %}
                {{ n1 }} * {{ n2 }} = {{ multiplicar }}
                {% else %}
                {% endif %}
            </p>

            <button type="submit">multiplicar</button>
        </form>

    </div>
    <div class="card_operacao">
        <h2>divisão</h2>
        <form class="form-dividir" action="{{ url_for('dividir') }}" method="post">
            <label>
                <input placeholder="Digite um número" name="form-n1" class="form-control">
            </label>

            <p class="operador">/</p>

            <label>
                <input placeholder="Digite um número" name="form-n2">
            </label>

            <p class="resultado">
                {% if dividir is defined %}
                {{ n1 }} / {{ n2 }} = {{ dividir }}
                {% else %}
                {% endif %}
            </p>

            <button type="submit" class="btn btn-info">dividir</button>
        </form>

    </div>


</div>


{% endblock conteudo %}